<p *ngIf="!checks"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="checks">
  <!--<thead>
    <tr>
      <th>

      </th>
      
    </tr>
  </thead>-->
  <thead>
    <tr>
      <th>Payee</th>
      <th>Issue Date</th>
      <th>Cleared Date</th>
      <th>Amount</th>
      <th>Phone #</th>
      <th>Email</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let check of checks">
      <td>{{ check.payee }}</td>
      <td>{{ check.dateIssued }}</td>
      <td>{{ check.dateCleared }}</td>
      <td>{{ check.amount }}</td>
      <td>{{ check.phoneNumber }}</td>
      <td>{{ check.emailAddress }}</td>
      <td>Reviewed {{ check.reviewCount }} times</td>
      <td><button ng-click="check.reviewCount = check.reviewCount + 1" ng-init="check.reviewCount=0">REMITTANCE</button></td>
    </tr>
  </tbody>
</table>
