/* You can add global styles to this file, and also import other style files */

.link-btn  {
  background-color: orange;
}

.btn {
  background-color: darkseagreen;
  width:150px;
}


  .btn:hover {
    background-color: yellow;
  }

.link-btn:hover {
  background-color: yellow;

}
